body {
  margin: 0;
  background: linear-gradient(-45deg, #6a11cb, #a46bff, #c8b6ff, #f5e9ff);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
     @keyframes gradientShift {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
    
}
